body,html {
    scroll-behavior: smooth;
    cursor: none;
}
header {
    position: fixed;
}
header nav {
    font-size: 1.2rem;
    padding: 50px;
    color: #fff;
}
header nav h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}
header nav a {
    color: #fff;
    padding: 10px;
}
header nav a:hover {
    border-bottom: 1px solid #fff;
}
main .bg {width: 100%; height: 100vh; background-size: cover;}
main .bg1 {background-image: url(https://images.unsplash.com/photo-1532236204992-f5e85c024202?q=80&w=2095&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
main .bg2 {background-image: url(https://images.unsplash.com/photo-1480796927426-f609979314bd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
main .bg3 {background-image: url(https://images.unsplash.com/photo-1557409518-691ebcd96038?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
main .bg4 {background-image: url(https://images.unsplash.com/photo-1504416285472-eccf03dd31eb?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
.link {
    display:flex; flex-flow:column wrap;
    position:fixed; left:50px; top:50%; transform: translateY(-50%);
}
.link a {
    background:#fff;
    width:20px; height:3px; 
    margin-bottom:20px;
    transition: all 0.5s;
}
.link .active {width: 100px; background: gold;}
.link a:hover {
    background:#999;
}
/* mouse design */
.mouse {
    width: 50px; height: 50px;
    /* border-radius: 50%;
    border: 5px solid #ff0; */
    position: fixed; left: 0; top: 0; /* 초기위치 */
    transform: translate(-50%, -50%);
    pointer-events: none; /* 마우스 클릭 대상 해제 */
}
.mouse img {
    width: 50px;
}